<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/cache
		http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd">

	<cache:annotation-driven />
	
	<bean id="propertyHolder" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
		<property name="locations">
			<list>
 				<value>classpath*:prop/rache.properties</value>
 				<value>classpath*:prop/dubbo.properties</value>
			</list>
		</property>
	</bean>
	
	<bean class="com.handpay.rache.core.spring.bootstrap.RacheBootstrap" id="RacheBootstrap">
		<property name="targetBeanId" value="stringRedisTemplateX"></property>
		<property name="cacheServerURL" value="${redis.cacheServerURL}"></property>
		<property name="defaultExpiration" value="${redis.defaultExpiration}"></property>
		<property name="defaultNamespace" value="${redis.defaultNamespace}"></property>
		<property name="propMap">
			<map>
				<entry key="maxIdle" value="${redis.maxIdle}"></entry>
				<entry key="maxActive" value="${redis.maxActive}"></entry>
				<entry key="maxWait" value="${redis.maxWait}"></entry>
				<entry key="testOnBorrow" value="${redis.testOnBorrow}"></entry>
			</map>
		</property>
	</bean>
	
	<bean class="com.handpay.arch.stat.input.TopicListener"></bean>
</beans>
